<section class="bg-primary" id="about">
    <div class="container">
        
        <!-- Sección WORK -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get to know me - WORK</h2>
                <hr class="light">
                <p class="text-faded">
                    My professional journey in data analytics and finance is marked by a continuous quest for knowledge and innovation...
                </p>
            </div>
        </div>
        
        <!-- Separador entre secciones -->
        <div class="row section-separator">
            <div class="col-lg-12 text-center">
                <hr class="light">
            </div>
        </div>

        <!-- Sección EDUCATION -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">EDUCATION</h2>
                <hr class="light">
                <p class="text-faded">
                    My academic foundation is rooted in a Bachelor's Degree in Finance...
                </p>
            </div>
        </div>

        <!-- Separador entre secciones -->
        <div class="row section-separator">
            <div class="col-lg-12 text-center">
                <hr class="light">
            </div>
        </div>

        <!-- Sección SIDE HUSTLES -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">SIDE HUSTLES</h2>
                <hr class="light">
                <p class="text-faded">
                    I actively engage in the community by analyzing and discussing topics...
                </p>
            </div>
        </div>

        <!-- Separador entre secciones -->
        <div class="row section-separator">
            <div class="col-lg-12 text-center">
                <hr class="light">
            </div>
        </div>

        <!-- Sección SOCIAL -->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">SOCIAL</h2>
                <hr class="light">
                <p class="text-faded">
                    I seek to connect with professionals and enthusiasts in the realms of data science and finance...
                </p>
            </div>
        </div>

    </div>
</section>
