<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading" style="text-align: center;">Get to know me</h2>
                </p>
                <p class="text-faded" style="margin-bottom: 15px; text-align: justify;">WORK<br>
                    My professional journey in data analytics and finance has been a pursuit of knowledge and innovation. As a KPI Advisor at NISSAN Chesa in Chiapas, Mexico, I mastered data-driven decision-making. Later, as a Credit Risk Analyst at Financiera Cafi, I engaged in comprehensive data processing and econometric modeling, utilizing advanced Excel and RStudio skills.
                </p>
                <p class="text-faded" style="margin-bottom: 15px; text-align: justify;">
                    Expanding my expertise in the financial domain, I took on the role of an Independent Stock and Derivatives Investor, where I applied sophisticated analytical strategies on platforms like Thinkorswim and Bloomberg. My focus was on portfolio optimization and risk management, showcasing my proficiency in both RStudio and Python.
                </p>
                <p class="text-faded" style="margin-bottom: 15px; text-align: justify;">EDUCATION<br>
                    I hold a Bachelor's Degree in Finance from Tecnológico de Monterrey, complemented by an online specialization in Foundational Finance from the University of Michigan. Further enhancing my skill set, I completed a professional program in Data Science & AI at DEV.F, Mexico City, and a Microdegree in Programming for the Management of Economic and Business Data using Python. Additionally, I pursued a specialization in Blockchain, which has significantly broadened my understanding of emerging technologies.
                </p>
                <p class="text-faded" style="margin-bottom: 15px; text-align: justify;">
                    International studies at Queen's University in Canada and CUNEF in Spain enriched my perspective, providing me with a comprehensive understanding of global finance and data science applications, and a profound command of RStudio and Python.
                </p>
                <p class="text-faded" style="margin-bottom: 15px; text-align: justify;">SIDE HUSTLES<br>
                    My passion extends to researching, studying, and understanding the latest technological trends. I am deeply engaged in exploring new advancements in blockchain, data science, and financial technologies, driven by a natural curiosity about the evolving tech world.
                </p>
                <p class="text-faded" style="margin-bottom: 15px; text-align: justify;">SOCIAL<br>
                    As a fervent participant in the data science and finance communities, I enjoy connecting on platforms like LinkedIn and GitHub, where I share projects and insights. My interests also include sports and strategy games, which mirror my love for challenges and strategic thinking. I am always open to discussing new opportunities, exchanging ideas, or connecting over shared interests in technology and finance.
                </p>
            </div>
        </div>
    </div>
</section>
