<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get to know me</h2>
                <hr class="light">
                <p class="text-faded">WORK
My professional journey in data analytics and finance is marked by a continuous quest for knowledge and innovation. Starting as a KPI Advisor at NISSAN Chesa in Chiapas, Mexico, I developed a keen sense for data-driven decision-making. This path led me to Financiera Cafi, where my role as a Credit Risk Analyst involved intricate data processing and econometric modeling using Excel and RStudio.

As a founder of Helium Chiapas, I ventured into software creation and cryptocurrency mining, managing a dedicated team of professionals and a significant investment portfolio. This role not only honed my leadership skills but also deepened my expertise in blockchain and DeFi technologies.

Parallel to my career, I've actively engaged in the financial markets as a Stock and Derivatives Investor, applying sophisticated strategies and data analysis to yield consistent positive returns.

EDUCATION
My academic foundation is rooted in a Bachelor's Degree in Finance from Tecnológico de Monterrey, enhanced by an online specialization in Foundational Finance from the University of Michigan. My quest for knowledge led me to DEV.F in Mexico City, where I completed a professional program in Data Science & AI.

International exposures at Queen’s University in Canada and CUNEF in Spain have broadened my perspective, providing a well-rounded understanding of global finance and data science applications.

SIDE HUSTLES
I actively engage in the community by analyzing and discussing topics at the intersection of finance and data science. Whether through blogging, attending community events, or contributing to professional forums, I enjoy sharing insights and learning from others in the field.

SOCIAL
I seek to connect with professionals and enthusiasts in the realms of data science and finance. Through LinkedIn and GitHub, I share my projects and insights, fostering a network of collaboration and learning.

Feel free to reach out to discuss opportunities, exchange ideas, or connect over our shared interest in pushing the boundaries of data science and finance.</p>
            </div>
        </div>
    </div>
</section>
