<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">WHAT I CAN DO</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center" style="margin-bottom: 30px;">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Collect</h3>
                    <p class="text-muted" style="text-align: justify; font-size: 14px;">
                        With a solid foundation in finance and a deep understanding of data analytics, I bring a unique perspective to data collection and management. My experience in financial markets and risk analysis has equipped me with the skills to design and implement effective data gathering strategies, particularly in economic and financial contexts. I am proficient in utilizing tools like Excel, RStudio, and Python for collecting and managing complex datasets, ensuring accuracy and reliability in data-driven decision-making.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center" style="margin-bottom: 30px;">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Process</h3>
                    <p class="text-muted" style="text-align: justify; font-size: 14px;">
                        As a professional skilled in RStudio and Python, I offer expertise in optimizing data workflows and developing new processes. My background in data science and AI enables me to handle data transformation, integration, and analysis with precision and efficiency. I have a strong grasp of econometric modeling and predictive analytics, allowing me to uncover valuable insights from diverse data sources and contribute to strategic business decisions.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center" style="margin-bottom: 30px;">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Visualise</h3>
                    <p class="text-muted" style="text-align: justify; font-size: 14px;">
                        I am adept at transforming complex data sets into clear and impactful visualizations. With a keen eye for detail and an understanding of best practices in data presentation, I have experience in creating both interactive and static visualizations that effectively communicate key findings. My toolkit includes advanced capabilities in Python and R for data visualization, enabling me to produce comprehensive reports and dashboards that facilitate understanding and drive informed decision-making.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

