<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Cambiado a col-lg-4 para un ancho mayor -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Collect</h3>
                    <!-- Estilo inline para justificar el texto -->
                    <p class="text-muted" style="text-align: justify;">With a solid foundation in finance...</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Process</h3>
                    <p class="text-muted" style="text-align: justify;">As a professional skilled in RStudio and Python...</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Visualise</h3>
                    <p class="text-muted" style="text-align: justify;">I am adept at transforming complex data sets...</p>
                </div>
            </div>
        </div>
    </div>
</section>
